<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
		<resultMap type="Notice" id="resultNotice">
		<id column="notice_no" property="notice_no" />
		<result column="notice_title" property="notice_title" />
		<result column="notice_date" property="notice_date" />
		<result column="userid" property="userid" />
		<result column="notice_content" property="notice_content" />
		<result column="notice_readcount" property="notice_readcount"/>
		<result column="notice_upfile" property="notice_upfile" />
		<result column="notice_refile" property="notice_refile" />
		<result column="importance" property="importance" />
	</resultMap>
	
	<select id="selectAll" resultMap="resultNotice">
		select * from notice
		order by notice_no asc
	</select>
	
	
	<select id="getListCount" resultType="_int" >
		select count(*) from notice
		order by notice_no asc
	</select>
	
	<select id="getSearchTListCount" resultType="_int" parameterType="string">
		select count(*) from notice
		where notice_title like '%' || #{ keyword } || '%'
	</select>
	
	<select id="getSearchDListCount" resultType="_int" parameterType="SearchDate">
		select count(*) from notice
		where notice_date between #{ begin } and #{ end }
	</select>
	
	<select id="searchTitle" resultMap="resultNotice" parameterType="SearchPaging">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, NOTICE_NO, NOTICE_TITLE, 
						  NOTICE_DATE, USERID, 
						  NOTICE_CONTENT,  
			               NOTICE_UPFILE, NOTICE_REFILE, 
			               NOTICE_READCOUNT, IMPORTANCE
			       FROM (SELECT * FROM NOTICE
			       		  where notice_title like '%' || #{ keyword } || '%'
			               ORDER BY NOTICE_NO ASC
			                        )) 
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="searchDate" resultMap="resultNotice" parameterType="SearchPaging">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, NOTICE_NO, NOTICE_TITLE, 
						  NOTICE_DATE, USERID, 
						  NOTICE_CONTENT,  
			               NOTICE_UPFILE, NOTICE_REFILE, 
			               NOTICE_READCOUNT, IMPORTANCE
			       FROM (SELECT * FROM NOTICE
			       		   where notice_date between #{ begin } and #{ end }
			               ORDER BY NOTICE_NO ASC
			                        )) 
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	<select id="selectNotice" parameterType="_int" resultMap="resultNotice">
		select * from notice
		where notice_no = #{ notice_no }
	</select>
	
	<delete id="deleteNotice" parameterType="_int">
		delete from notice
		where notice_no = #{ notice_no }
	</delete>
	
	<insert id="insertNotice" parameterType="Notice">
		insert into notice (NOTICE_NO, NOTICE_TITLE, USERID, 
		NOTICE_DATE, NOTICE_UPFILE, NOTICE_REFILE, NOTICE_CONTENT, NOTICE_READCOUNT, IMPORTANCE) 
		values ((select max(notice_no) + 1 from notice), 
				#{ notice_title }, #{ userid }, sysdate, 
				#{ notice_upfile, jdbcType=VARCHAR }, 
				#{ notice_refile, jdbcType=VARCHAR }, 
				#{ notice_content }, default ,
				<if test="importance != 0">
				#{ importance }
				</if>
				<if test="importance == 0">
				default
				</if>)
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		update notice
		set notice_title = #{ notice_title },
			notice_content = #{ notice_content}
			<if test="notice_upfile != null">
			, notice_upfile = #{ notice_upfile }
			, notice_refile = #{ notice_refile }
			</if>
			<if test="notice_upfile == null">
			, notice_upfile = null
			, notice_refile = null
			</if>
			
			<if test="importance != 0">
			, importance = #{ importance }
			</if>
			<if test="importance == 0">
			, importance = default
			</if>
			
		where notice_no = #{ notice_no }
	</update>
	
	<update id="addReadCount" parameterType="_int">
		update notice
		set notice_readcount = notice_readcount + 1
		where notice_no = #{ notice_no }
	</update>
	
	<select id="selectList" parameterType="Paging" resultMap="resultNotice">
		<![CDATA[
			SELECT *  
			FROM (SELECT ROWNUM RNUM, NOTICE_NO, NOTICE_TITLE, 
						  NOTICE_DATE, USERID, 
						  NOTICE_CONTENT,  
			               NOTICE_UPFILE, NOTICE_REFILE, 
			               NOTICE_READCOUNT, IMPORTANCE
			       FROM (SELECT * FROM NOTICE 
			              ORDER BY IMPORTANCE DESC, 
			              			NOTICE_NO ASC
			                        )) 
			where rnum >= #{startRow} and rnum <= #{endRow}
		]]>
	</select>
	
	
</mapper>
